body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ededed; 
}
.header{
  background-color: #075e54;
   color: white;
   display: flex;
    justify-content: space-between;
     align-items: center;
    padding: 5px 20px;
    height: 50px;
    border-bottom: 5px solid rgba(255, 255, 255, 0.3);
}
.header h3{
  margin-bottom: 15px;
}

#characterSelect{
	width: 80%
	}

.header-buttons{
     display: flex;
    gap: 10px;

}
.header-buttons button{
  background:none;
  border:none;
   color: white;
    padding: 8px 10px;
    cursor: pointer;
  display: flex;
  align-items: center;
    border-radius: 5px;
}
.header-buttons button:hover{
   background-color: #128C7E;
}
.header-buttons button i{
  margin-right: 5px;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
     border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;

}

h1 {
    text-align: left;
    margin-bottom: 0px;
}

.chat-list {
    display: flex;
    flex-direction: column;
    gap: 0px; 
     padding: 10px 0;

}

.chat-card {
    background-color: #fff;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
     position: relative;
      border-bottom: 1px solid rgba(128, 128, 128, 0.3); 
}
.chat-card:first-child {
     margin-top: 1px; 
  padding-top: 0px; 
}
.chat-card:hover {
    background-color: #f5f5f5;
}
.chat-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-card .text-content {
    flex: 1;
}

.chat-card .name {
    font-weight: bold; 
    margin-bottom: 2px;
     color: #111;
}
.chat-card .preview {
    color: #666; 
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 0.9em;
    font-style: italic; 
     max-width: calc(100% - 65px); 
}
.chat-card .action-buttons{
    display: flex;
    gap:5px;
   position: absolute;
    top: 10px;
    right: 10px;
}
.chat-card .action-buttons button{
    background:none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
.chat-card .action-buttons button i {
  pointer-events: none;
}
.chat-card .action-buttons .edit-button{
 color: #075e54;
}
.chat-card .action-buttons .delete-button{
  color: red;
}
.button-container {
    text-align: center;
    margin-top: 20px;
}
.button-container button {
    background-color: #5cb85c;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
    transition: background-color 0.3s;
}
.button-container button:hover {
    background-color: #4cae4c;
}
/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid rgba(128, 128, 128, 0.3); 
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    position: relative; 
}
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
     position: absolute;
    top: 10px;
    right: 15px;
}
.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
label{
    margin-top: 10px;
    display: block;
}
input[type=text],input[type=url], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}
textarea {
    resize: vertical; 
}
/* Float Button Style*/
.float-button {
    position: fixed;
    bottom: 15%; 
    right: 20px;
    background-color: #25d366;
    color: white;
    border: none;
    border-radius: 50%;
    width: 62px; 
    height: 62px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3); 
    transition: background-color 0.3s;
    z-index: 1000;
}
.float-button:hover {
  background-color: #128C7E;
}